version: 2.1

orbs:
  android: circleci/android@3.2.0

decode_android_key: &decode_android_key
  run:
    name: Decode Android key store
    command: echo $ANDROID_DEBUG_KEY | base64 -di | tee keystore.jks app/keystore.jks >/dev/null

jobs:

  Android-Harmony-Test:
    executor:
      name: android/android_machine
      resource_class: large
      tag: default

    working_directory: ~/repo

    steps:
      - checkout
      - *decode_android_key
      - run:
          name: Check build health
          command: |
            ./gradlew buildHealth
      - run:
          name: Build dummy app apk and test apk
          command: |
            ./gradlew :app:assembleDebug
            ./gradlew :harmony:assembleAndroidTest
            ./gradlew :crypto:assembleAndroidTest
            ./gradlew :target31test:assemble

      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json

      - run:
          name: Authorize gcloud and set config defaults
          command: |
            sudo gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}

      - run:
          name: Test Harmony with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --type instrumentation \
              --app ${HOME}/repo/app/build/outputs/apk/debug/app-debug.apk \
              --test ${HOME}/repo/harmony/build/outputs/apk/androidTest/debug/harmony-debug-androidTest.apk \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID} \
              --results-dir harmony-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM} \
              --device model=redfin,version=30 \
              --no-performance-metrics \
              --no-record-video \
              --use-orchestrator

      - run:
          name: Test Crypto with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --type instrumentation \
              --app ${HOME}/repo/app/build/outputs/apk/debug/app-debug.apk \
              --test ${HOME}/repo/crypto/build/outputs/apk/androidTest/debug/crypto-debug-androidTest.apk \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID} \
              --results-dir crypto-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM} \
              --device model=redfin,version=29 \
              --no-performance-metrics \
              --no-record-video \
              --use-orchestrator

      - run:
          name: Test target SDK 31 with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --type instrumentation \
              --app ${HOME}/repo/app/build/outputs/apk/debug/app-debug.apk \
              --test ${HOME}/repo/target31test/build/outputs/apk/debug/target31test-debug.apk \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID} \
              --results-dir target31test-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM} \
              --device model=redfin,version=29 \
              --no-performance-metrics \
              --no-record-video \
              --use-orchestrator

      - run:
          name: Install gsutil dependency and copy test results data
          command: |
            sudo gsutil -m cp -r -U `sudo gsutil ls gs://cloud-test-${GOOGLE_PROJECT_ID}/harmony-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM}/redfin-30-en-portrait/test_result_1.xml | tail -1` ${HOME}/temp_results/test_result_1_harmony.xml | true
            sudo gsutil -m cp -r -U `sudo gsutil ls gs://cloud-test-${GOOGLE_PROJECT_ID}/crypto-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM}/redfin-29-en-portrait/test_result_1.xml | tail -1` ${HOME}/temp_results/test_result_1_crypto.xml | true
            sudo gsutil -m cp -r -U `sudo gsutil ls gs://cloud-test-${GOOGLE_PROJECT_ID}/target31test-${CIRCLE_BRANCH}_${CIRCLE_BUILD_NUM}/redfin-29-en-portrait/test_result_1.xml | tail -1` ${HOME}/temp_results/test_result_1_target31test.xml | true

      - store_test_results:
          path: ~/temp_results

  Android-Harmony-Build:
    executor:
      name: android/android_machine
      tag: default

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Assemble Harmony
          command: |
            ./gradlew :harmony:assembleRelease
            ./gradlew :harmony:publishToMavenLocal
            ./gradlew :crypto:assembleRelease

      - persist_to_workspace:
          root: ~/repo
          paths:
            - .

  Android-Harmony-Upload:
    executor:
      name: android/android_machine
      tag: default

    working_directory: ~/repo

    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Upload Harmony Library
          command: |
            mkdir -p ./harmony/src/main/resources/META-INF/com/frybits/harmony/harmony
            echo "token=${HARMONY_GOOGLE_SDK_VERIFICATION_TOKEN}" > ./harmony/src/main/resources/META-INF/com/frybits/harmony/harmony/verification.properties
            ./gradlew publishAllPublicationsToMavenCentralRepository --no-parallel --no-configuration-cache --stacktrace

workflows:
  version: 2
  Build_Upload:
    jobs:
      - Android-Harmony-Build
      - Android-Harmony-Test
      - Harmony-Upload-Approval:
          type: approval
          requires:
            - Android-Harmony-Test
            - Android-Harmony-Build
          filters:
            branches:
              only:
                - main
      - Android-Harmony-Upload:
          requires:
            - Harmony-Upload-Approval
          filters:
            branches:
              only:
                - main
